STANDARDIZATION

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [9]:
df=pd.read_csv("Social_Network_Ads.csv")

In [10]:
df.iloc[:,2:]

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [11]:
df.sample(5)

     Age  EstimatedSalary  Purchased
195   34            43000          0
43    30            15000          0
360   43           129000          1
224   35            60000          0
149   20            74000          0

In [6]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\91750\anaconda3\lib\site-packages (1.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.17.3 in c:\users\91750\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\91750\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\91750\anaconda3\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\91750\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop('Purchased',axis=1),
                                               df['Purchased'],random_state=0,test_size=0.3)

In [16]:
x_train.shape,x_test.shape

((280, 2), (120, 2))

In [17]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

scaler.fit(x_train)

x_train_scaled=scaler.transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [19]:
scaler.mean_

array([3.78642857e+01, 6.98071429e+04])

In [21]:
x_train_scaled=pd.DataFrame(x_train_scaled,columns=x_train.columns)
x_test_scaled=pd.DataFrame(x_test_scaled,columns=x_test.columns)

In [22]:
x_train_scaled

          Age  EstimatedSalary
0   -1.163172        -1.584970
1    2.170181         0.930987
2    0.013305         1.220177
3    0.209385         1.075582
4    0.405465        -0.486047
..        ...              ...
275  0.993704        -1.151185
276 -0.869053        -0.775237
277 -0.182774        -0.514966
278 -1.065133        -0.457127
279 -1.163172         1.393691

[280 rows x 2 columns]

NORMALIZATION

In [31]:
df=pd.read_csv('wine_data.csv',usecols=[0,1,2])

df.columns=['Class Labels','Alcohol','Malic Acid']

In [32]:
df.sample(5)

     Class Labels  Alcohol  Malic Acid
170             3    12.77        2.39
14              1    13.63        1.81
9               1    14.10        2.16
144             3    13.16        3.57
121             2    12.42        4.43

In [33]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(df.drop('Class Labels',axis=1),
                                               df['Class Labels'],test_size=0.3,random_state=0)
x_train.shape,x_test.shape

((123, 2), (54, 2))

In [34]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()

scaler.fit(x_train)

x_train_scaled=scaler.transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [35]:
x_train_scaled=pd.DataFrame(x_train_scaled,columns=x_train.columns)
x_test_scaled=pd.DataFrame(x_test_scaled,columns=x_test.columns)

In [36]:
x_train_scaled

      Alcohol  Malic Acid
0    0.489247    0.144603
1    0.155914    0.093686
2    0.602151    0.690428
3    0.572581    0.545825
4    0.661290    0.156823
..        ...         ...
118  0.397849    0.171079
119  0.620968    0.010183
120  0.467742    0.517312
121  0.825269    0.230143
122  0.720430    0.969450

[123 rows x 2 columns]